#projects {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 10em;
  padding-left: 3em;
  padding-right: 3em;
  overflow-x: hidden;
}

h1 {
  color: white;
}

.project {
  color: black;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  /* width: 40em; */
  /* width: 70%; */
  margin-top: 2em;


  text-align: justify;
  box-shadow: 5px 5px 5px #999;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .project {
    width: 45%;
    display: grid;
    gap: 1em;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

@media screen and (max-width: 900px){
  .project {
    width: 90%;
    display: grid;
    gap: 1em;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

/* @media screen and () */

/* .description{ */
/*   width: 20rem; */
/* } */

.projectImageMobile {
  height: 18em;
  width: 10em;
  border-radius: 10px;
}

.projectImage {
  height: 18em;
  width: 18em;
  border-radius: 10px;
}

.bigImageProject {
  border-radius: 10px;
  height: 10em;
  width: 20em;
}

/* #topProject { */
/*   margin-top: 5em; */
/* } */



/* .projectImageWeb { */
/*   height: 300px; */
/*   width: 600px; */
/*   border-radius: 10px; */
/* } */

/* .information { */
/*   display: flex; */
/*   flex-direction: column; */
/*   margin-left: 2em; */
/*   margin-right: 2em; */
/*   width: 20em; */
  /* text-align: justify; */
/*   grid-column: 2; */
/* } */

/* .left { */
/*   margin-left: 5em; */
/* } */

.right {
  /* float: right; */
  /* margin-right: 5em; */
  overflow-x: hidden;
}
