.appFooter {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 5em;
}

#footerWave {
  position: absolute;
  /* width: 100%; */
}

#footerInfo {
  position: absolute;
  z-index: 1;
  margin-top: 1em;
}

.footerIcon {
  width: 2em;
  height: 2em;
}

.zoom {
  transition: transform .2s;
  padding: 1em;
}

.zoom:hover {
  transform: scale(1.5);
  background-color: #FFFFFF;
  border-radius: 10%;
}
